{% extends 'base.html'  %}
{% load static  %}
{% block title %}forgot password{% endblock   %}
{% block content  %}

<p>This is Forgot Password</p>
{% if  messages %}
    {% for message in messages %}
        {% if messages.tags == 'error' %}
        <centre><h1 style = "color: firebrick">{{message}}</h1></centre>
        {% else   %}
        <centre><h1 style = "color: dodgerblue">{{message}}</h1></centre>
        {% endif     %}
    {% endfor    %}
{% endif   %}
<form method = "POST">
    {% csrf_token  %}
    <div>
        <lable>Email</lable>
        <input type = "email" name = "email">
    </div>
    <button type = "submit">Submit</button>
</form>




{%  endblock  %}